@import 'reset';

@import '../widget/header';
@import '../widget/footer';
@import '../widget/icons';

html{
	width: 100%;
	height: 100%;
}
body{
	background:#faf9f5;
	line-height: 1.4;
	position: relative;
	min-height: 100%;
}

.clearfix:after{
    content:'';
    clear:both;
    overflow:hidden;
    height:0; 
    display:block; 
}
html,a,input,textarea,.notapcolor{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.hide{
	display: none;
}
.m-loading{
	margin: 10px 0;
	text-align: center;
	color: #65c3ed;
	display: none;
}
#header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
#content-wrap{
	position: relative;
	padding: 44px 0 76px;
	z-index: 1;
}
#footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 2;
}
.m-box{
	margin: 10px;
	padding: 12px;
	border: 1px solid #eaeaea;
	-webkit-border-radius:4px;
	border-radius: 4px;
	background: #fff;
	h3{
		color: #333;
		font-size: 16px;
		height: 18px;
		line-height: 18px;
		margin-bottom: 10px;
	}
	p{
		color: #999;
		font-size: 14px;
		&.sign{
			text-align: right;
		}
	}
}
.m-nav{
	line-height: 38px;
	background: #fff;
	border-bottom: 1px solid #d2d2d2;
	width: 100%;
	overflow: hidden;
	overflow-x:scroll;
	-webkit-overflow-scrolling:touch;
	ul{
		text-align: center;
		white-space: nowrap;
		li{
			display: inline-block;
			color: #60c2ef;
			font-size: 16px;
			margin: 0 14px;
			padding: 0 8px;
			border-bottom: 4px solid #fff;
			&.on{
				border-bottom: 4px solid #60c2ef;
			}
		}
	}
}
.m-submit{
	background: #ff9a00;
	color: #fff;
	height: 40px;
	line-height: 40px;
	border:1px solid #ff9a00;
	-webkit-border-radius:4px;
	border-radius: 4px;
	display: block;
	text-align: center;
	font-size: 14px;
	&.disabled{
		background: #f2f2f2;
		border-color: #f2f2f2;
		color: #999;
		&:hover{
			background: #f2f2f2;
		}
	}
	&:hover{
		background:#FF6600;
	}
}
.m-cancel{
	background: #fff;
	color: #333;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e2e2e2;
	-webkit-border-radius:4px;
	border-radius: 4px;
	display: block;
	text-align: center;
	font-size: 14px;
	&:hover{
		background:#ddd;
	}
}
.m-select{
	border-bottom: 1px solid #61c1f1;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: relative;
	.notice{
		position: absolute;
		font-size: 12px;
		color: #d8d8d8;
		left: 0;
		z-index: 2;
	}
	.arrow{
		position: absolute;
		right: 0;
		bottom: 1px;
		width: 0;
		height: 0;
		border-width: 5px;
		border-style: solid;
		border-color: transparent #61c1f1 #61c1f1 transparent;
		z-index: 2;
	}
	.info{		
		font-size: 18px;
		color: #61c1f1;
		text-align: center;
	}
	select{
		-webkit-appearance: none;
		border: 0;
		outline: none;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
	}
	input{
		-webkit-appearance:none;
		text-align: center;
		font-size: 18px;
		color: #61c1f1;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
	}
}
.m-textarea{
	textarea{
		display: block;
		border: 1px solid #e2e2e2;
		-webkit-border-radius:4px;
		border-radius: 4px;
		padding: 14px;
		color: #333;
		font-size: 14px;
		resize:none;
		outline: none;
		width: 100%;
		height: 97px;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		text-align: left;
	}
}
.m-result{
	h3{
		font-size: 20px;
		color: #61c1f1;
		text-align:center;
		margin: 0 15px;
	}
	p{
		font-size: 14px;
		text-align: left;
		color: #999;
		margin: 22px 15px 0;
	}
	.code{
		height: 40px;
		line-height: 40px;
		-webkit-border-radius:4px;
		border-radius: 4px;
		color: #fff;
		background: #c3d9e4;
		width: 140px;
		margin: 22px auto 0; 
		text-align: center;
	}
	.opt{
		margin: 55px 15px 0;
		a{
			width: 134px;
			&:first-child{
				float:left;
			}
			&:last-child{
				float:right;
			}
		}
	}
	.panel{
		margin: 8px 15px 20px;
		padding: 10px 10px;
		background: #c3d9e4;
		-webkit-border-radius:5px 5px;
		border-radius: 5px 5px;
	}
}
.m-popup{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	.popup-overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		left:0;
		top: 0;
		z-index: 1;
		background: rgba(0,0,0,0.6);
	}
	.popup-inner{
		position: relative;
		top: 170px;
		width: 270px;
		margin: 0 auto;
		background: #fff;
		-webkit-border-radius:4px;
		border-radius:4px;
		z-index: 2;
		.popup-content{
			color: #666;
			font-size: 16px;
			text-align: center;
			height: 109px;
			line-height: 109px;
			border-bottom: 1px solid #b2b2b2;
		}
		.popup-opt{
			display: -webkit-box;
			a{
				-webkit-box-flex:1;
				border-right:1px solid #b2b2b2;
				color: #207af4;
				height: 43px;
				line-height: 43px;
				text-align: center;
				display: block;
				&:last-child{
					border-right:0;
				}
			}
		}
	}
}
.m-empty{
	text-align: center;
	margin-top: 80px;
	div{
		@extend .icon-empty-logo;
		margin-bottom: 20px;
	}
	p{
		font-size: 14px;
		color: #999;
	}
	
}
