body{
	padding-bottom: 56px;
}
.content{
	margin: 20px 20px;
	.title{
		color: #333;
		font-size: 18px;
	}
	.img{
		-webkit-border-radius:5px 5px;
		border-radius: 5px 5px;
		margin: 15px 0;
		padding-bottom: 57.8%;
		-webkit-background-size:cover;
		background-size: cover;
		background-position: center;
	}
	p{
		font-size: 14px;
		line-height: 1.2;
		color: #999;
		margin-bottom: 10px;
		span{
			color: #333;
		}
	}
}
.operation{
	position: fixed;
	bottom: 0;
	height: 56px;
	line-height: 56px;
	background: #61c2ef;
	padding: 0 15px;
	width: 100%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	a{
		width: 43%;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		background:#fff;
		color: #333;
		text-align: center;
		-webkit-border-radius:3px 3px;
		border-radius: 3px 3px;
		position: relative;
		top: 8px;
		&.done{
			background: #1689bf;
			color: #fff;
		}
		&.like-btn{
			float: left;
		}
		&.join-btn{
			float: right;
		}
	}
}
.result{
	display: none;
	margin-top: 34px;
}
.m-submit{
	margin: 0px 15px;
}