.m-textarea{
	margin: 12px 15px;
}
.operation{
	margin: 12px auto;
	text-align: center;
	a{
		width: 134px;
		display: inline-block;
	}
	.m-cancel{
		margin-right: 15px;
	}
}
.result{
	display: none;
	margin-top: 34px;
}