#content-wrap{
    padding-top: 75px;
}
.header{
    height: 75px;
    background: #22292c;
    .logo{
        float: left;
        margin-left: 10px;
        margin-top: 12px;
    }
    .info{
        position: absolute;
        right: 10px;
        bottom: 17px;
        font-size: 15px;
        color: #fff;
    }
    .avatar{
        display: inline-block;
        position: relative;
        top: 8px;
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        -webkit-border-radius:25px;
        border-radius: 25px;
    }
}
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    max-height: 90px;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > li {
    float:left;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    position: relative;
}
.public{
    margin-bottom: -20px;
    .public-list{
        li{
            a{
                padding: 10px 20px;
                display: block;
                background: #60c2ef;
                color: #fff;
            }
        }
        .title{
            font-size: 17px;
            text-align: center;
        }
        .info{
            font-size: 15px;
            margin-top: 5px;
            height: 44px;
            display: -webkit-box;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
    .public-list-pointer{
        text-align: center;
        li{
            width: 7px;
            height: 7px;
            -webkit-border-radius:7px 7px;
            border-radius: 7px 7px;
            background: #e1e1e1;
            margin-right: 7px;
            display: inline-block;
            &.on{
                background: #70bbef;
            }
        }
    }
}
.section-title{
    color: #999;
    font-size: 12px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.wuye{
    position: relative;
    border-top: 1px solid #e8e8e8;
    .mask{
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 110px;
        background: rgba(0,0,0,0.6);
        color: #fff;
        font-size: 18px;
        text-align: center;
        z-index: 1;
    }
    table{
        border: 0;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
        tr{
            height: 55px;
            td{
                border-right: 1px solid #e8e8e8;
                border-bottom: 1px solid #e8e8e8;
                font-size: 15px;
                background: #fff;
                text-align: center;
                position: relative;
                a{
                    color: #333;
                    display: block;
                    height: 55px;
                    line-height: 55px;
                }
                i{
                    position: absolute;
                    top: 2px;
                    right: 7px;
                    width: 15px;
                    height: 15px;
                    line-height: 15px;
                    -webkit-border-radius:15px;
                    border-radius: 15px;
                    text-align: center;
                    color: #fff;
                    font-size: 12px;
                    background: #ffac61;
                    font-style: normal;
                }
                &:last-child{
                    border-right:none;
                }
            }
        }
    }
}
.quick{
    margin: 20px 15px 10px;
    height: 75px;
    display: -webkit-box;
    .quick-wrapper{
        -webkit-box-flex:1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-align: center;
        width: 50px;
        position: relative;
        .quick-icon-wrapper{
            width: 47px;
            height: 47px;
            line-height: 65px;
            text-align: center;
            border: 3px solid #fff;
            -webkit-border-radius:50px;
            border-radius: 50px;
            -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);
            box-shadow:0 2px 2px rgba(0,0,0,0.2);
            &.shop{
                background: #5ccc9f;
            }
            &.life{
                background: #60c2ef;
            }
            &.award{
                background: #ff9434;
            }
            &.weidian{
                background: #f06a9b;
            }
        }
        .quick-incon-text{
            margin-top: 5px;
            font-size: 12px;
            color: #999;
        }
        .quick-arrow{
            position: absolute;
            display: none;
            top: 80px;
            left: 50%;
            margin-left: -5px;
            width: 10px;
            height: 10px;
            background: #5ccc9f;
            -webkit-transform:rotate(45deg);
            transform:rotate(45deg);
            &.shop{
                background: #5ccc9f;
            }
            &.life{
                background: #60c2ef;
            }
            &.award{
                background: #ff9434;
            }
            &.weidian{
                background: #f06a9b;
            }
        }
        &.on{
            .quick-arrow{
                display: block;
            }
        }
    }
}
.quick-content{
    li{
        display: none;
        margin: 10px 0px;
        &.on{
            display: block;
        }
        table{
            border: 0;
            width: 100%;
            text-align: center;
            border-spacing: 0;
            border-collapse: separate;
            &.shop{
                background: #5ccc9f;
            }
            &.life{
                background: #60c2ef;
            }
            &.weidian{
                background: #f06a9b;
            }
            tr{
                height: 55px;
                td{
                    border-right:1px solid rgba(255,255,255,0.4);
                    border-bottom: 1px solid rgba(255,255,255,0.4);
                    color: #fff;
                    font-size: 15px;
                    width: 33%;
                    a{
                        color: #fff;
                        display: block;
                        height: 55px;
                        line-height: 55px;
                    }
                    &:last-child{
                        border-right:0;
                    }
                }               
                &:last-child{
                    td{
                        border-bottom: 0;
                    }
                }
            }
        }
        .award{
            background: #ff9434;
            padding: 20px 10px;
            img{
                display: block;
                float: left;
                width: 125px;
                height: 125px;
                -webkit-border-radius:5px 5px;
                border-radius: 5px 5px;
            }
            .info{
                height: 125px;
                margin-left: 140px;
                position: relative;
                p{
                    color: #fff;
                    font-size: 12px;
                    line-height: 1.5;
                    &.title{
                        font-size: 15px;
                    }
                }
                .award-btn{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 100px;
                    height: 42px;
                    line-height: 42px;
                    text-align: center;
                    background: #fff;
                    color: #ff9434;
                    font-size: 14px;
                    -webkit-border-radius:3px;
                    border-radius: 3px;
                }
                .award-result-btn{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 100px;
                    height: 42px;
                    text-align: center;
                    background: #e96e00;
                    color: #fff;
                    -webkit-border-radius:3px;
                    border-radius: 3px;
                    span{
                        font-size: 9px;
                        margin: 5px 10px;
                    }
                    .time{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
.activity{
    ul{
        li{
            background: #fff;
            border-bottom: 1px solid #e3e3e3;
            padding: 10px 10px;
            .img{
                display: block;
                float: left;
                width: 90px;
                height: 90px;
                -webkit-border-radius:3px 3px;
                border-radius: 3px 3px;
            }
            .info{
                margin-left: 100px;
                height: 90px;
                position: relative;
                .title{
                    color: #333;
                    font-size: 15px;
                    line-height: 1.2;
                    margin-bottom: 8px;
                }
                .date{
                    color: #999;
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
                .opt{
                    position: absolute;
                    bottom: 0;
                    span{
                        display: inline-block;
                        margin-right: 7px;
                        height: 22px;
                        line-height: 22px;
                        font-size: 12px;
                        padding: 0 7px;
                        color: #999;
                        border: 1px solid #999;
                        -webkit-border-radius:3px 3px;
                        border-radius: 3px 3px;
                        i{
                            color: #60c2ef;
                            font-style: normal;
                        }
                        &.done{
                            background: #60c2ef;
                            color: #fff;
                            border: 1px solid #60c2ef;
                            i{
                                color: #fff;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
