.pay-info{
	margin: 20px 10px;
	text-align: right;
	font-size: 14px;
	color: #666;
	span{
		margin-right: 10px;
	}
	b{
		font-size: 20px;
		color: #ff9a00;
	}
	a{
		display: inline-block;
		padding: 0 25px;
		vertical-align: bottom;
	}
}