.uarea{
	background: #fff;
	border: 1px solid #e1e1e1;
	-webkit-border-radius:5px 5px;
	border-radius: 5px 5px;
	margin: 0px 15px;
	padding-left: 20px;
	position: relative;
	height: 75px;
	line-height: 75px;
	.title{
		display: inline-block;
		font-size: 16px;
		color: #333;
	}
	.arrow{
		position: absolute;
		right: 15px;
		top: 28px;
	}
}
.announce{
	margin-top: 12px;
}