.activity-list{
	li{
		padding:17px 15px 17px 20px;
		border-bottom: 1px solid #dad9d5;
		div{
			position: relative;
		}
		.title{
			float: left;
			font-size: 17px;
			color: #333;
			margin-right: 70px;
		}
		.acount{
			position: absolute;
			right: 0;
			top:3px;
			font-size: 14px;
			color: #999;
		}
		.detail{
			margin-top: 15px;
		}
		.address{
			color: #999;
			font-size: 14px;
			margin-bottom: 15px;
		}
		.time{
			color: #999;
			font-size: 11px;
		}
	}
}