.m-select{
	margin: 5px 15px 20px;
}
.m-textarea{
	margin: 0 15px 12px;
}
#submit{
	.m-submit{
		margin: 12px 15px;
	}
}
.result{
	display: none;
	margin-top: 34px;
}
#date{
	opacity: 1;
	background: none;
}