.common-footer{
	height:75px;
	text-align:center;
	font-size: 14px;
	background: #f0eee9;
	border-top: 1px solid #e8e8e8;
	ul{
		color:#6f6f6f;
		margin: 20px 0 6px;
		li{
			height:22px;
			line-height:22px;
			display:inline-block;
			margin-right:10px;
			a{
				color:#6f6f6f;
				text-decoration: none;
			}
		}
	}
	div{
		color:#d0cfce;
	}
}
