.common-header{
	height: 44px;
	line-height: 44px;
	background: #65c3ed;
	color: #fff;
	font-size: 18px;
	text-align: center;
	position: relative;
	a{
		position: absolute;
		left:20px;
		top: 12px;
	}
}